<div class="align-center mx-auto" style="max-width: 560px;">
  <h2 class="small gray align-left">Kizomba Dance Events Abroad</h2>
  <div class="border-full shadow2 p0 mb2">
    <a href="#">
      <img class="center-align mx-auto mt0 mbhalf event-photo" src="https://d33wubrfki0l68.cloudfront.net/538a050b488be3f631b99f0bdcf9b9afef41f92b/8c42e/assets/images/kulfoldi/mekuia_kizomba.jpg" alt="cover image" class="event-photo"/>
    </a>
    <div class="clearfix pbhalf">
      <div class="left mlhalf mrhalf bg-white border-full-light border-edge" style="width: 60px">
        <p class="m0 small-smallest gray uppercase">2018.</p>
        <p class="m0 small-smallest bold uppercase">nov</p>
        <p class="m0 medium bold uppercase">16.</p>
      </div>
    
      <div class="align-left" style="min-width: 100px">
        <a href="#">
          <p class="m0 bold-800 pr1" style="margin-left: 4rem">Title here</p>
        </a>
        <p class="m0 pl1 pr1 small-smallest dark-gray" style="margin-left: 3rem">Organiser name here</p> 
        <p class="m0 pthalf pl1 pr1 small-smallest italic" style="margin-left: 3rem"><i class="far fa-clock"></i> Time</p>
        <p class="m0 pl1 pr1 smallest italic" style="margin-left: 3rem"><i class="fas fa-map-marker-alt"></i> Location</p>
      </div>
    </div>
  </div>
</div>